@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders:opsz,wght@10..72,100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
    font-family: Nunito Sans;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header {
    padding: 20px;
}

.navbar-logo {
    font-weight: 500;
    gap: 10px;
}

.navbar-logo i {
    font-size: 20px;
}

/* h1 {
    text-align: center;
    padding: 20px;
} */

a {
    text-decoration: none;
    color: #000;
}

.navbar-menu {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 10px;

}

.btn {
    padding: 5px 10px;
    cursor: pointer;
    background-color: #000;
    color: #fff;
    border: 1px solid #000;
    border-radius: 20px;
}