* {
    box-sizing: border-box;
}

header {
    background-color: hsl(0, 0%, 86%);
    text-align: center;
    padding: 25px;
}

body {
    margin: 0;
}

.navbar {
    background-color: #000;
    height: 50px;
}

aside {
    width: 20%;
    float: left;
    padding: 10px;
}

section {
    width: 40%;
    float: left;
    padding: 10px;
}

article {
    width: 40%;
    float: left;
    padding: 10px;
}

footer {
    background-color: hsl(0, 0%, 86%);
    text-align: center;
    display: block;
    clear: both;
    padding: 25px;
}

@media screen and (max-width: 600px) {
    aside, section, article {
        width: 100%;
        
    }
}