@font-face {
    src: url(fonts/Montserrat-Black.ttf);
    font-family: Montserrat;
}

@font-face {
    src: url(fonts/Kanit-Black.ttf);
    font-family: Kanit-Black;
}

h1 {
    font-family: Montserrat;
}

p {
    font-family: Kanit-Black;
    font-size: small;
    font-style: oblique;
}
